<li [attr.data-id]="todo.id" [ngClass]="{'completed' : todo.completed}">
	<span class="todoID">{{todo.id}}.</span>
	<span>{{todo.title}}</span>
	<div class="completeTodo">
		<i class="fas fa-check" (click)=completeHandler(todo)></i>
	</div>
	<div class="editTodo">
		<a [routerLink]="['edit', todo.id]"><i class="fas fa-edit"></i></a>
		<!-- <a routerLink="todo-edit/{{todo.id}}"><i class="fas fa-edit"></i></a> -->
	</div>
	<div class="removeTodo">
		<i class="far fa-trash-alt" (click)=removeHandler(todo.id)></i>
	</div>
</li>